
.login-image {
    max-width: 50%; /* ensures image is responsive and doesn't overflow its container */
    height: auto; /* maintain aspect ratio */
}

/* Remove spacing between columns */
.no-gutters .col-md-6 {
    padding-right: 0;
    padding-left: 0;
}

/* Optional: Adjust margins if necessary */
.no-gutters .card {
    margin-left: -15px; /* Adjust this value as needed */
}
