<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Privacy Policy Notification Service</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/assets/css/homeDesign.css}" />

</head>
<body>
<div th:replace="~{header :: header}">...</div>

<div class="container mt-5">
    <h2 >Welcome to Privacy Notifier</h2>
    <div class="row">
        <div class="col-md-12">
            <a th:href="@{/addNewWebsites}" class="btn btn-light btn-lg custom-btn">Add new website</a>
            <h4 th:text="${content}"></h4>
            <h4 th:text="${emailStatus}"></h4>
            <br>
            <h3 class="mb-3">Your Websites</h3>
            <div th:if="${msg}" class="alert alert-success alert-dismissible fade show" role="alert">
                <p th:text="${msg}"></p>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <table class="table table-bordered border border-dark table-striped custom-table-height">
                <thead class="table-dark">
                <tr>
                    <th>Website Name</th>
                    <th>Website URL</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <div class="table-responsive">
                <tbody>
                <tr th:each="website : ${listOfValues}">
                    <td>
                        <a th:href="@{'/changeDetection/' + ${website.websiteId}}" th:text="${website.websiteName}"
                           th:id="${'websiteLink' + website.websiteId}"></a>
                    </td>
                    <td th:text="${website.websiteUrl}">Website URL Placeholder</td>
                    <td>
                        <a th:href="@{'/editWebsite/' + ${website.websiteId}}" class="btn" title="Edit">
                            <img src="images/edit-icon.svg" th:src="@{/assets/images/edit.svg}" alt="Edit" width="24" height="24"/>
                        </a>
                    </td>
                    <td>
                        <a th:href="@{'/deleteWebsite/' + ${website.websiteId}}" class="btn" onclick="return confirm('Are you sure you want to delete this?')" title="Delete">
                            <img src="images/delete-icon.svg" th:src="@{/assets/images/delete.svg}" alt="Delete" width="24" height="24"/>
                        </a>
                    </td>

                </tr>
                </tbody>
                </div>
            </table>
        </div>
    </div>
    <!-- Form to submit new website details -->

</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
